@charset "UTF-8";

/* 回答はここに書いてね */

.GB_box {
    padding: 10px 10px 20px 10px;
    background-color: #ecf1f2;
}

.grid_box {
    margin-top: 20px;
    font-size: 0;
}

.grid_box .item_12 {
    margin-top: -10px;
}

.grid_item {
    padding: 0 10px;
    display: inline-block;
    box-sizing: border-box;
}

.box_info {
    text-align: center;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}

.item_12 {
    width: 100%;
}

.item_6 {
    width: 50%;
}

.item_4 {
    width: 33.3%;
}

.item_3 {
    width: 25%;
}

.item_2_4 {
    width: 20%;
}

.item_2 {
    width: 16.6%;
}


/* 回答はここに書いてね */
