@charset "UTF-8";

/* 回答はここに書いてね */

.q7_box {
    text-align: center;
}

.btn_setting {
    display: inline-block;
    margin: 10px;
    font-size: 16px;
    vertical-align: middle;
}

.inputText {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00BCD4;
}

.inputText:focus {
    box-shadow: 0 0 7px #1abc9c;
}

.inputText::-webkit-input-placeholder {
    color: #00BCD4;
}

.textAreaText {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00BCD4;
    resize: none;
    height: 40px;
}

.textArea:focus {
    outline: 0;
    
}

.radiobtn {
    display: none;
}

.radiotxt {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 20px;
}

.radiotxt:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
}

.radiobtn:checked + .radiotxt:after {
    position: absolute;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #00BCD4;
    border-radius: 50%;
    content: '';
}

.checkbtn {
    display: none;
}

.checkboxtxt {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 20px;
}

.checkboxtxt:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #ccc;
    content: '';
}

.checkbtn:checked + .checkboxtxt:after {
    position: absolute;
    content: '';
    top: 5px;
    left: 3px;
    width: 13px;
    height: 5px;
    border-bottom: 2px solid #00BCD4;
    border-left: 2px solid #00BCD4;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.select {
    position: relative;
    background-color: #FFF;
}

.selectlist {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 30px 5px 5px;
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;

}

.select:before {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
}

.button {
    color: #00BCD4;
    padding: 5px 10px;
    border: 1px solid #00BCD4;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

.button:active {
    color: #fff;
    background-color: #00BCD4;
}
/* 回答はここに書いてね */