@charset "UTF-8";

/* 回答はここに書いてね */

body {
    position: relative;
}

.num {
    width: 500px;
    height: 500px;
    background-color: #ecf1f2;
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    font-weight: bold;
}

.num1 {
    position: absolute;
    top: 40px;
    left: 200px;
    width: 100px;
    height: 100px;
    background-color: #ffefd3;
    text-align: center;
    line-height: 100px;
    z-index: 1;
}

.num2 {
    position: absolute;
    top: 120px;
    left: 280px;
    width: 100px;
    height: 100px;
    background-color: #7084de;
    text-align: center;
    line-height: 100px;
    z-index: 2;
}

.num3 {
    position: absolute;
    top: 200px;
    left: 360px;
    width: 100px;
    height: 100px;
    background-color: #d0ecea;
    text-align: center;
    line-height: 100px;
    z-index: 3;
}

.num4 {
    position: absolute;
    top: 280px;
    left: 280px;
    width: 100px;
    height: 100px;
    background-color: #8b7a5e;
    text-align: center;
    line-height: 100px;
    z-index: 4;
}

.num5 {
    position:absolute;
    top: 360px;
    left: 200px;
    width: 100px;
    height: 100px;
    background-color: #9fd6d2;
    text-align: center;
    line-height: 100px;
    z-index: 5;
}

.num6 {
    position: absolute;
    top: 280px;
    left: 120px;
    width: 100px;
    height: 100px;
    background-color: #fffee4;
    text-align: center;
    line-height: 100px;
    z-index: 6;
}

.num7 {
    position: absolute;
    top: 200px;
    left: 40px;
    width: 100px;
    height: 100px;
    background-color: #deae70;
    text-align: center;
    line-height: 100px;
    z-index: 7;
}

.num8 {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 100px;
    height: 100px;
    background-color: #de70cf;
    text-align: center;
    line-height: 100px;
    z-index: 8;
}

.num8:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 80px;
    width: 20px;
    height: 20px;
    background-color: #ffedf3;
    z-index: 9;
}

.num9 {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: #2b69a3;
    text-align: center;
    line-height: 100px;
}

/* 回答はここに書いてね */
